*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



#logo{
    color: black;
    font-size: 25px;
    font-weight: bold;
    margin-left: 0px;
    /* align-self: flex-end; */
}


.nav{
    margin: 0px;
    padding: 0px;
    height: 60px;
    background-color: blue;
    border-radius: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-evenly;
    
}

a{
    color:azure;
    text-decoration: none;
    /* margin-right: 200px; */
    
    
}


button{
    color: white;
    height: 40px;
    width: 70px;
    background-color: black;
    margin-right:90px;
    margin-top: 10px;
  
}

.hero{
    margin: 15px;
    height: 100vh;
    /* border: 2px solid black; */
    background: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

#image {
    height: 50vh;
    width: 500px;
    background-image: url(boy.png);
    background-size: cover;
    /* border: solid black 2px; */
    position: absolute;
    right:200px;
    top: 150px;
}

#welcome{
    font-weight: bold;
    position: relative;
    color: white;
    top: 200px;
    left: 120px;
}


#intro{
    position: relative;
    color: white;
    font-size: 30px;
    top: 205px;
    left: 120px;
}

.footer{
    margin: 1px;
    height: 150px;
    color: aliceblue;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding-top: 30px;
    background-color: black;
    border-radius: 10px;
}