*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.nav{
    height: 60px;
    font-size: 10px;
    background-color: black;
    border-color: rgb(64, 255, 0);
    border-radius: 5px;
}


.logo{
    color:rgb(248, 162, 1);
    padding-left:20px;   
}

a{
    color:white;
    font-size: 20px;
   
    margin-right: 170px;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button{
    color:black;
    border-radius: 5px;
}

.contener{
    height: 100px;
    width: 100px;
    background-color: rgb(13, 13, 13);
}

.box1{
    height: 100px;
    width: 100px;
    margin: 20px;
    background-color: red;
    border-color: aqua;
    border-radius: 5px;
}


.box2{
    height: 100px;
    width: 100px;
    margin: 20px;
    background-color: rgb(13, 203, 209);
    border-color: aqua;
    border-radius: 5px;
}
    

.box3{
    height: 100px;
    width: 100px;
    margin: 20px;
    background-color:green;
    border-color: aqua;
    border-radius: 5px;
}

.section{
    height:100vh;
    background-color: blueviolet;
    border: black 5px solid;
    border-radius: 5px;
}



.footer{
    
    
    text-align:center;
    color: aliceblue;
    background-color: black;
}


    


    
    